div {display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: -2.17px;
    padding: 2%;

}

.red {
    background-color: #ff0000;
    border-color: white;
 }

.blue {
    background-color: #00b0f0;
    border-color: white;
}

.green {
    background-color: #00b050;
    border-color: white;
}
.yellow {
    background-color: #ffff00;
    border-color: white;
}

.vermeio {
    background-color: #ff0000;
    border: 1px solid black;

}

